@{
    ViewBag.Title = "GitHub Issues via Feedback Form - Simple Version";
}

<p>Create a GitHub Issue in
<code>@System.Configuration.ConfigurationManager.AppSettings["resource"]</code>
with the default label <code>@System.Configuration.ConfigurationManager.AppSettings["defaultlabel"]</code>
by clicking on the "Send Feedback" button below.</p>

