<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <add key="username" value="your github username"/>
    <add key="password" value="your github password"/>
    <add key="resource" value="/repos/github-username/github-repo/issues"/>
    <add key="defaultlabel" value="feedback"/>
  </appSettings>
